<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/chave.css">
    <title>Comprar API Key</title>
   
</head>
<body>
    <div class="container">
        <h1>Comprar API Key</h1>
        <p>Entre em contato conosco pelo WhatsApp para adquirir sua chave API.</p>
        <a href="https://wa.me/5593991919748" target="_blank" class="whatsapp-button">Enviar mensagem no WhatsApp</a>
    </div>
</body>
</html>
