<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pesquisas.css">
    <title>API Pesquisas</title>
</head>
<body>
    <div class="api-list">
        <h2>APIs de Pesquisas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome da API</th>
                    <th>Descrição</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Youtube Pesquisar</td>
                    <td>API de pesquisar videos do youtube</td>
                    <td><a href="/api/pesquisas/youtube?quero= Joga pra lua&apikey=SUA_APIKEY" target="_blank" class="api-button">Usar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
